<a href="https://colab.research.google.com/github/TatianaNinoo/Data_visualization/blob/main/02_Phyton_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. What is variable?**

It is a *container*. You can save *stuff* in there

In [ ]:
#Example
a = 3

In [ ]:
print(3 + 1)
print (3*3)
print(3/2)

In [ ]:
# Insted of using 3 use a
print(a + 1)
print(a*a)
print(a/2)
#You can change the value of the variable when you need it

In [ ]:
#Example
x = y = z = 100

# **2. Delete and Clear variables**

In [ ]:
# Delete
del x
del y, z

In [ ]:
# Clear
# Be careful! You delete everything
%reset

In [ ]:
# Excercise 1
## Aproximate the number 15.4795612358
## to 1,2,3,....., decimals and print the result

## Using Variables

a = 15.4795612358  # The number to approx.
b = 0              # Initial approx.
c = 11             # (c-1) is the last approx.

for i in range(b,c):
  print('Approx. with:',i,'decimals',round(a,i))

In [ ]:
# Excercise 2
# Find and print the 100 first multiples of 7

# Using variables

d = 0    # Initial multiple
e = 101  # (e-1) Number of multiples or last multiple.
f = 7    # Number that is finding out the multiples

print('The', e-1, 'multiples of', f)
for i in range(d,e):
  print('The multiple in position',i,'is', i*f)

# **3. Naming**

In [ ]:
# A variable with my name
Name = 'Tatiana'
NaMe = 'Tatiana'
NAME = 'Tatiana'
my_name = 'Tatiana'
name = 'Tatiana'
first_name = 'Tatiana'

In [ ]:
age1 = 15

In [ ]:
age_01 = 15

In [ ]:
## Let's say I want to create a variable for the price of a cellphone

maluma = 100
price = 100

# **4. Data types**

Integers and floats...OK.

In [ ]:
%reset

In [ ]:
w = 1

In [ ]:
w += 1
print(w)

## 4.1 Booleans

## This variable only can take 2 values that are *true* and *false*

In [ ]:
am_i_alive = False

In [ ]:
print(am_i_alive)
print(type(am_i_alive))

## 4.2 Boolean expressions

In [ ]:
x = 2
y = 3

In [ ]:
x == y

In [ ]:
result = x==y
print(result)

In [ ]:
result1 = x >= y
print(result)

In [ ]:
result2 = x <= y
print(result)

In [ ]:
result1 + result2

In [ ]:
# Practice
# Create the necessary code to evaluate the expression
# x*y > x + y
# for numbers ranging from 1 to 6

g = 1
h = 7
for x in range(g,h):
 for y in range (g,h):
  print('When x=', x ,'And y=', y)
  print('Result of Multiplication')
  result3 = x * y
  print(result3)
  print('Result of Summary')
  result4 = x + y
  print(result4)
  print('Is x*y> x + y?')
  result5 = result3 > result4
  print(result5)

##4.4 String Variables

In [16]:
#Example
name = 'Tatiana'
last_name = 'Niño'
print(type(name))
print(last_name)

<class 'str'>
Niño

In [18]:
#Example - caution
price = '100'
print(price)
print(price*2)
print(type(price))
#Al ser texto no se pueden hacer operaciones

100
100100
<class 'str'>

In [22]:
#Para convertir de texto a numero
new_price = int(price)
print(new_price)

100

In [ ]:
#No todo texto se puede convertir a numero
print(int(last_name))

**Slicing**

In [23]:
#Example
u = 'Universidad de La Salle'
print(u)

Universidad de La Salle

In [61]:
#Slicing
print('Extract the first element of u:', u[0])
#El primer elemento es 0 porque Phyton empieza a contar en 0
print('The space is also an element:', u[11])
#El elemento 11 es el espacio, Phyton cuenta los espacios como elementos
print('Extract the last element of u:', u[-1])
# De derecha a izquierda o de abajo hacia arriba Phyton cuenta desde -1
print('Extract the first two element of u:', u[0:2])
print('Extract the last two element of u:', u[-3:-1])

Extract the first element of u: U
The space is also an element:
Extract the last element of u: e
Extract the first two element of u: Un
Extract the last two element of u:

**Method**

In [54]:
# Lower case
u.lower()

'universidad de la salle'

In [55]:
# Upper case
u.upper()

'UNIVERSIDAD DE LA SALLE'

In [62]:
#Split
u.split('')

['Universidad de La Sa', '', 'e']

In [64]:
u.split(' ')[0]

'Salle'