<a href="https://colab.research.google.com/github/TatianaNinoo/Data_visualization/blob/main/1_Phyton_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**1. Getting started**

##1.1 Phyton as a Calculator

In [ ]:
#Addition
2 + 3

5

In [ ]:
#Substraction
15 - 7

8

In [ ]:
#Multiplication
63 * 13

819

In [ ]:
#Division
99 / 43

2.302325581395349

In [ ]:
# ???
99 // 43

2

In [ ]:
# Exponentials
8 ** 4

4096

## 1.2 Parentheses

In [ ]:
7 * 2 + 3

17

In [ ]:
7 * (2 + 3)

35

## 1.3 Integers versus Real numbers

*Integers does not have decimals*

***int*** *means integers*

***float*** *means real number*

In [ ]:
print(5)
print(type(5))

5
<class 'int'>

In [ ]:
print(5.0)
print(type(5.0))

5.0
<class 'float'>

## 1.4 Scientific Notation

In [1]:
5.0e3

5000.0

In [3]:
3.2e2

320.0

# **2. Basic functions**

##2.1 Print

In [4]:
print(15)
print(16)

15
16

In [5]:
# Print different elements in the same line
print(9, 8, 2023)

9 8 2023

In [11]:
# ???
for i in range(1,10): print(i)

1
2
3
4
5
6
7
8
9

In [9]:
#???
for i in range(1,11): print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
# With a step, n this case 3 (range certain numbers)
for i in range(1,11,3): print(i)

1
4
7
10

In [18]:
#  With Text
print('Tatiana')
print('First Names:', 'Laura Tatiana')
# Tabulation
print('First Names:\t', 'Laura Tatiana')
# New line
print('First Names:\n', 'Laura Tatiana')

Tatiana
First Names: Laura Tatiana
First Names:	 Laura Tatiana
First Names:
 Laura Tatiana

In [19]:
# Text and numbers
print('My favorite number is', 8)

My favorite number is 8

## 2.2 Round

In [21]:
round(5.7289,2)

5.73

In [ ]:
# Excercise 1
## Aproximate the number 15.4795612358
## to 1,2,3,....., decimals and print the result

for i in range(0,11):
  print('Approx. with:',i,'decimals',round(15.4795612358,i))

In [ ]:
# Excercise 2
# Find and print the 100 first multiples of 7
for i in range(0,101):
  print('The multiple in position',i,'is', i*7)

In [ ]:
# Excercise 3
# Calculate and print the multiplication table for the numbers 3,4,5,6
for j in range(3,7):
  print('Multiplication Table of',j)
  for i in range(1,11):
    print(j,'x',i,'=',j*i)